<!DOCTYPE html>
<html lang="en">
<head>

    <title>Sistema de encuestas</title>

</head>
  <body style="text-align:center; background: #F5F5F5;">
      <div style="display: block;width: 960px;margin: 15px auto;text-align:left;">
         <header style="display: block;background: #DCDCDC;
	             border: 1px solid #999999;text-align: center;
	             padding: 20px;">
             <h1 style="font: bold 30px verdana, sans-serif;">ENCUESTAS PETRA</h1>
         </header>

          <nav style="display: block;background: #CCCCCC;
	           padding: 5px 15px:">

          </nav>

          <section style="display: block;float: left;text-align:center;border: 1px solid #999999;
	               width: 500px;margin: 20px;background:#DCDCDC">
          <form action="http://127.0.0.1:5000/votar/" method="post">

             {% for i in encuesta %}
                  <p style="font: bold 15px verdana, sans-serif;">{{i.pregunta}}</p>
                  {% if i.voto1 == 0 and i.voto2 == 0 %}
                            <p style="font: 15px verdana, sans-serif;">{{i.opcion1}}  {{i.voto1}}%</p>
                             <p style="font: 15px verdana, sans-serif;">{{i.opcion2}}  {{i.voto2}}%</p>
                  {% else %}
                  <p style="font: 15px verdana, sans-serif;">{{i.opcion1}} <meter value="{{i.voto1}}" max="{{i.cantidad}}"></meter> {{(i.voto1 / i.cantidad * 100)|int}}%</p>
                  <p style="font: 15px verdana, sans-serif;">{{i.opcion2}} <meter value="{{i.voto2}}" max="{{i.cantidad}}"></meter> {{(i.voto2 / i.cantidad * 100)|int}}%</p>
                  {% endif %}
                  <p style="font: 15px verdana, sans-serif;"><label>Total de Votos </label> {{i.cantidad}}</p>
                  <p style="font: 15px verdana, sans-serif;"><input type="checkbox" id="{{i.id}}" name="id" value = "{{i.id}}"></p>
                 <input type ='submit'  value="Ingresar">
              {% endfor %}
          </form>
          </section>
          <aside style="display: block;float: left;
                 width: 220px;margin: 20px 0px;padding: 20px;background: #CCCCCC;">
          <h4 style="font: bold 20px verdana, sans-serif;"><a href="{{ url_for('nueva_encuesta') }}"
                                                              style="text-decoration:none;">Agregar nueva encuesta</a></h4>
          </aside>

          <footer style="display: block;clear: both;text-align: center;padding: 20px;
	               border-top: 2px solid #999999;">
              Derechos reservados &copy; 2017-2018
          </footer>

      </div>







  </body>


</html>